{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Dilemma Game</title>
        <script type="text/javascript" src="{% static 'binch.js' %}"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/binchgame.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="page-header">
            <h1>Welcome to Dilemma Game!</h1>
            <p></p>
            <h3>By Andrew and Silap</h3>
            <p>Made with p5.js</p>
        </div>
        <div class="body">
            <h2>Instructions</h2>
        <p>You control a dot</p>
        <p>Walls will come at you with different colors</p>
        <p>Whichever wall color you hit, you will get +5 or -5 points (based on luck)</p>
        <p>Move using up and down arrows</p>
        <p>Get 50 points to win! Less than 0 points to lose!</p>
        <a href="/game/">Click here to play game!</a>
        <p></p>
        <a href="/game2/">Click here to play second game!</a>
        </div>
        <p></p>
        <img src="http://i.imgur.com/PDu6jo2.jpg">
        <p></p>
        <img src="https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_399,q_70,w_710/v1/clients/surfcityusa/2016_07_02_CBD_166_d362fa62-2028-45bb-ad57-de1667ac2543.jpg">
        <p></p>
        <img src="https://i.ytimg.com/vi/dREF7wFJaf8/maxresdefault.jpg">
        <!--<img src="https://s3.amazonaws.com/cratejoy_vendor_images/treats/bold-copy-6/images/Binch-by-Lotte.png">-->
    </body>
</html>
